@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0%;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #96AFBB;
    margin: 0;
    overflow-x: hidden;
}

/*headings and logo */
h1,
h2 {
    font-family: lato, sans-serif;
    letter-spacing: 2px;
    color: #252525;
    margin: 0%;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: silver;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero video and cover text */
#hero-video {
    margin: 0%;
}

/* welcome about us*/

#welcome {
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 0%;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* contact us*/
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* footer */
.social-networks>li {
    display: inline;
    margin: 0%;
}

.social-networks i {
    font-size: 160%;
    margin: 0%;
    padding: 5%;
    color: #3a3a3a;
}

#poses {
    margin-left: 5px;
    margin-right: 5px;
}

.exercises-intro {
    margin-left: 5px;
    font-size: 20px;
    text-align: left;
    padding-top: 60px;
}

#breathing-video {
    width: 800px;
    height: 450px;
    margin-left: 0%;
}

/* Form */
.form-section {
    clear: left;
    background-image: url("https://images.pexels.com/photos/3822647/pexels-photo-3822647.jpeg?cs=srgb&dl=pexels-elina-fairytale-3822647.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 600px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: lightblue;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}