@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0%;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #96AFBB;
    margin: 0;
    overflow-x: hidden;
}

/*headings and logo */
h1,
h2 {
    font-family: lato, sans-serif;
    letter-spacing: 2px;
    color: #252525;
    margin: 0%;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: silver;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero video and cover text */
#hero-video {
    margin: 0%;
}

/* welcome about us*/

#welcome {
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 0%;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* contact us*/
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* footer */
.social-networks>li {
    display: inline;
    margin: 0%;
}

.social-networks i {
    font-size: 160%;
    margin: 0%;
    padding: 5%;
    color: #3a3a3a;
}